body {
  font-family: "Arial", font-size: 22px;
  text-align: center;
}

#clarify {

  font-family: "Arial" , sans-serif;
  text-align: center;

}

#welcome {

  font-family: "Arial" , sans-serif;
  text-align: center;

}
